<mat-tab-group>

  <mat-tab label="Allocation">
  
      <div class="list row">
        <div class="col-md-8">
          <div class="input-group mb-3">
            <div class="input-group-append">
              <button
                class="btn btn-outline-secondary"
                type="button"
                (click)="searchId()"
              >
                Reset
              </button>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <h4>Lista de Allocations</h4>
          <ul class="list-group">
            <li
              class="list-group-item"
              *ngFor="let allocation of allocations; let i = index"
              [class.active]="i == currentIndex"
              (click)="setActiveAllocation(allocation, i)"  >
              {{ allocation.id }} - {{ allocation.course?.name}} - {{ allocation.professor?.name}} - {{ allocation.day}}
            </li>
          </ul>
      
          
        </div>
        <div class="col-md-6">
          <div *ngIf="currentAllocation">
            <h4>Allocation</h4>
            <div>
              <label><strong>Id:</strong></label> {{ currentAllocation.id}}
            </div>
            <div>
              <label><strong>Course:</strong></label> {{ currentAllocation.course?.name}}
            </div>
            <div>
              <label><strong>Professor:</strong></label> {{ currentAllocation.professor?.name}}
            </div>
            <div>
              <label><strong>Day:</strong></label> {{ currentAllocation.day}}
            </div>
            <div>
              <label><strong>Start:</strong></label>
              {{ currentAllocation.start }}
            </div>
            <div>
              <label><strong>End:</strong></label>
              {{ currentAllocation.end  }}
            </div>
              
            <!-- <a class="badge badge-warning" routerLink="/clientes/{{ currentAllocation.codCli }}">
              Edit
            </a> -->
          </div>
      
          <div *ngIf="!currentAllocation">
            <br />
            <p>favor clicar no id do cliente...</p>
          </div>
        </div>
      </div>
  
    
  
  </mat-tab>
  
  <mat-tab label="Professores">
  
    <p>
  
      Conteúdo 2
  
    </p>
  
  </mat-tab>
  
  <mat-tab label="Courses">
  
    <p>
  
      Conteúdo 3
  
    </p>
  
  </mat-tab>

  <mat-tab label="Departments">
  
    <p>
  
      Conteúdo 3
  
    </p>
  
  </mat-tab>
  
  </mat-tab-group>